/*
style for EAB
*/

.login{
  text-align: center;
  height: calc(100vh - 48px);
  overflow: auto;
}
/**/

.login a{text-decoration: underline; font-weight: bold}


.homePage{

}
.container {
  width: 370px;
  height: auto;
  position:absolute;
  left: 50%;margin-left:-185px;
  bottom:50%;margin-bottom:-190px;
  text-align: center;

}
.loginForm{
  padding: 25px;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.home{
  display: inline-block;
  height: 100vh;
  width: 100%;
}
.logo{
  width: 256px;
  margin-bottom: 30px;
}

.bt{
  background-color: #2696CC;
}

.item{
  display: block;
}

.item input {
  margin-top: 6px !important;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.error{
  color:red;
  line-height: 14px;
  min-height: 14px;
}

.terms{
background-color: rgba( 0, 0, 0, 0.7);
height: 100vh;
padding: 20px;
}
.termsContent{
  width: 720px;
  margin: 0 auto;
  background: #eee;
  height: calc(100% - 40px);
}

.termsHeader{
  padding: 5px 10px;
  text-align: center;
    background: #FFFFFF;
}

.hItem{
  display: inline-block;
}

.btLeft{
  float: left;
  color: #2696CC;
  cursor: pointer;
}

.btRight{
  float: right;
  color: #2696CC;
  cursor: pointer;
}
