<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body oncontextmenu="return false;" 
    onbeforeunload="if (window.loggedIn) { return 'This action will end your current session. Do you wish to proceed.';}"
    onunload="if (window.paymentWindow) window.paymentWindow.close();">
    <div id="root"></div>
  </body>
</html>
