
.normal {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 7.0pt;
  font-weight: normal;
}

.userData {
  font-size: 9.0pt;
  font-weight: bold;
}


img.companyIcon {
  opacity: 1;
  vertical-align: text-top;
  height: 65px;
  width: 65px;
}

img.checkboxIcon {
  opacity: 1;
  vertical-align: middle;
  height: 13px;
  width: 13px;
}

table {
  table-layout: fixed;
  border: none;
  margin-left: -.25pt;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

table.simple{
  width:  100%;
  border-collapse: collapse;
  border: solid windowtext 1px;
}

table.simple tr>td{
  padding: 5px 10px;
  border: solid windowtext 1px;
}


table.centeredData tr>td{
  text-align: center;
}

table.dataGroup, table.dataGroupNoAutoColor  {
  width: 740px;
  border: solid windowtext 1px;
  border-bottom: 0;
  border-collapse: collapse;
}

table.dataGroup.first  {
  border: solid windowtext 1px;
  border-bottom: 0;
}

table.dataGroup.mid  {
  border: solid windowtext 1px;
  border-bottom: 0;
  border-top: 0;
}

table.dataGroup.last  {
  border: solid windowtext 1px;
  border-top: 0;
}

table.dataGroup tr>td:first-child {
  padding-right: 20px;
}

table.dataGroupLast, table.dataGroupLastNoAutoColor {
  width: 740px;
  border: solid windowtext 1px;
  border-collapse: collapse;
}

table.signature {
  width: 740px;
}

table.data, table.dataPayor  {
  width: 695px;
  border-collapse: collapse;
  border: solid windowtext 1px;
  margin-left: 6.75pt;
  margin-right: 6.75pt;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
}

table.data td {
  vertical-align: text-top;
  border: solid windowtext 1px;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}

table.dataPayor td {
  vertical-align: text-top;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}

tbody {
  -webkit-column-break-before: avoid;
  page-break-before: avoid;
  break-before: avoid;
}

/*
tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #F2F2F2;
} */

tr {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

tr.odd{
  background-color: white;
}

tr.even {
  background-color: #F2F2F2;
}

table.dataGroup tbody tr.dataGroup:nth-of-type(odd) {
  background-color:white;
}
table.dataGroup tbody tr.dataGroup:nth-of-type(even) {
  background-color:#F2F2F2;
}

table.dataGroupLast tbody tr.dataGroup:nth-of-type(odd) {
  background-color:white;
}
table.dataGroupLast tbody tr.dataGroup:nth-of-type(even) {
  background-color:#F2F2F2;
}

td.warning {
  border: none;
  padding: 0;
}

td.blueBackground{
  background: #2F5496; color: white;
}

td.headerRow {
  background: #BDD6EE;
}

table.data td.tdFor {
	background:#103184;
  border-top: none;
  border-left: solid windowtext 1px;
  border-bottom: solid white 1px;
  border-right: solid windowtext 1px;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
  vertical-align: middle;
}

table.data td.tdFor.bottom {
  border-bottom: solid windowtext 1px;
}

table.data td.tdFor p {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}


td.question {
  vertical-align: text-top;
  border: none;
  border-left: solid windowtext 1px;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}

span {
  font-family: 'Source Sans Pro', 'sans-serif';
}

p {
  margin-top: 1.0pt;
  margin-bottom: 1.0pt;
  line-height: normal;
}

p.sectionGroup {
  margin-top: 0;
	margin-right: 0;
	margin-bottom: 8.0pt;
	margin-left: 0;
}

span.sectionGroup {
  font-weight: bold;
  font-size: 11.0pt;
}

span.sectionHeader {
	font-size: 10.0pt;
  font-weight: bold;
}
span.sectionHeader.normal {
  font-size: 10.0pt;
  font-weight: normal;
}

p.declarationPt {
  margin: 0;
  text-align: right;
  text-justify: inter-ideograph;
}


/* Page Header & Footer CSS start */
p.img {
  height:75pt;
}

span.pageTitle {
  font-size: 16.0pt;
  font-weight: bold;
  color: #2E74B5;
  letter-spacing: -.1pt;
}

div.section {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

div.sectionHeader {
  width: 740px;
  background: #BDD6EE;
}

div.sectionHeader > div.title {
  border: solid windowtext 1.0pt;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
}

div.sectionHeader > div.title > p {
  margin-left: 0;
  margin-right: 0;
}

div.sectionHeader > div.person {
  width: 99px;
  border: solid windowtext 1.0pt;
  border-left: none;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
}

div.sectionContent {
  width: 740px;
}

div.sectionContent > div {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

div.sectionContent > div.oneCol {
  border: none;
  border-left: solid windowtext 1px;
  border-right: solid windowtext 1px;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
}

div.sectionContent > div.oneCol.first {
  border-top: solid windowtext 1px;
}

div.sectionContent > div.oneCol.last {
  border-bottom: solid windowtext 1px;
}

div.sectionContent > div.twoColDeclaration, div.sectionContent > div.threeColDeclaration {
  border-left: solid windowtext 1px;
  border-right: solid windowtext 1px;
}

div.sectionContent > div.twoColDeclaration > div {
  padding: 1.4pt 0 1.4pt 0;
  vertical-align: top;
  display: inline-block;
}

div.sectionContent > div.twoColDeclaration > div.first {
  width: 31px;
}

div.sectionContent > div.twoColDeclaration > div.last {
  width: 699px;
}

div.sectionContent > div.twoColDeclaration > div.first > p {
  margin: 1.0pt 5.4pt 1.0pt 5.4pt;
  text-align: right;
  text-justify: inter-ideograph;
}

div.sectionContent > div.twoColDeclaration > div.last > p {
  margin: 1.0pt 20.7pt 1.0pt 0;
  text-align: justify;
  text-justify: inter-ideograph;
}

div.sectionContent > div.twoColDeclaration > div.first > p > span,  div.sectionContent > div.twoColDeclaration > div.last > p > span {
  font-size: 7.0pt;
  font-weight: normal
}

div.sectionContent > div.threeColDeclaration > div {
  display: inline-block;
  width: 32.5%;
  padding: 12px 0 12px 0;
  vertical-align: top;
}

div.sectionContent > div.threeColDeclaration > div > p {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  line-height: normal
}

div.sectionContent > div.initPayment,
div.sectionContent > div.premiumDetails,
div.sectionContent > div.warning {
  border-left: solid windowtext 1px;
  border-right: solid windowtext 1px;
}

div.sectionContent > div.premiumDetails.total,
div.sectionContent > div.initPayment.subtitle,
div.sectionContent > div.premiumDetails.value.odd {
  background-color: #F2F2F2;
}
div.sectionContent > div.initPayment.lastRow {
  border-bottom: solid windowtext 1px;
}


div.sectionContent > div.initPayment > div,
div.sectionContent > div.premiumDetails > div,
div.sectionContent > div.warning > div {
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
  vertical-align: middle;
  display: inline-block;
}

div.sectionContent > div.premiumDetails.title > div:nth-child(1),
div.sectionContent > div.premiumDetails.value > div:nth-child(1),
div.sectionContent > div.premiumDetails.total > div:nth-child(1) {
  width: 105px;
}
div.sectionContent > div.premiumDetails.title > div:nth-child(2),
div.sectionContent > div.premiumDetails.value > div:nth-child(2),
div.sectionContent > div.premiumDetails.total > div:nth-child(2) {
  width: 130px;
}
div.sectionContent > div.premiumDetails.title > div:nth-child(3),
div.sectionContent > div.premiumDetails.value > div:nth-child(3),
div.sectionContent > div.premiumDetails.total > div:nth-child(3) {
  width: 100px;
}
div.sectionContent > div.premiumDetails.title > div:nth-child(4),
div.sectionContent > div.premiumDetails.value > div:nth-child(4),
div.sectionContent > div.premiumDetails.total > div:nth-child(4) {
  width: 95px;
}
div.sectionContent > div.premiumDetails.title > div:nth-child(5),
div.sectionContent > div.premiumDetails.value > div:nth-child(5),
div.sectionContent > div.premiumDetails.total > div:nth-child(5) {
  width: 95px;
}
div.sectionContent > div.premiumDetails.title > div:nth-child(6),
div.sectionContent > div.premiumDetails.value > div:nth-child(6)
div.sectionContent > div.premiumDetails.total > div:nth-child(6) {
  width: 95px;
}
div.sectionContent > div.initPayment > div {
  width: 345.5px;
}

div.sectionContent > div.initPayment.title > div > p > span,
div.sectionContent > div.initPayment > div.title > p > span,
div.sectionContent > div.premiumDetails.value > div:nth-child(1) > p > span,
div.sectionContent > div.premiumDetails.title > div > p > span,
div.sectionContent > div.premiumDetails.total > div.title > p > span {
  font-size: 7.0pt;
  font-style: italic;
}

div.sectionContent > div.premiumDetails.title > div > p > span.small {
  font-size: 6.0pt;
}

div.sectionContent > div.initPayment.subtitle > div > p > span,
div.sectionContent > div.premiumDetails.subtitle > div > p > span {
  font-size: 9.0pt;
  font-weight: bold;
  font-style: italic;
}

div.sectionContent > div.initPayment.value > div > p > span,
div.sectionContent > div.initPayment > div.value > p > span,
div.sectionContent > div.premiumDetails.value > div:not(:nth-child(1)) > p > span,
div.sectionContent > div.premiumDetails.total > div.value > p > span {
  font-size: 9.0pt;
  font-weight: bold;
}

div.sectionContent > div.warning > div > p > span {
  font-size: 7.0pt;
  color: red;
  font-weight: normal;
}

div.appFormFooter {
  padding-top: 10px;
  margin:0 60px;
}

div.pageFooter {
  padding-top: 10px;
  margin:0 25px;
}

div.pageNum {
  float:right;
  margin: 0;
}

div.indentLeft {
  padding-left: 25px;
}

span.pageNum {
  font-weight: bold;
  font-size: 14.0pt;
  color: #2E74B5;
}

span.pageDesc {
  font-size: 8.0pt;
  color: #2E74B5;
}

div.address {
  float:left;
}

p.pageNum, p.address {
  margin: 0;
}

span.address {
  font-size: 8.0pt;
  color: #2E74B5;
}

span.eCpdTitle {
  font-size: 11.0pt;
  color: #2E74B5;
}

/* Page Header & Footer CSS end */

/* Personal Detail Header start */
td.personHeader {
  border: solid windowtext 1px;
  background: #2F5496;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}

td.personHeaderLeft {
  border: solid windowtext 1px;
  border-right: solid white 1px;
  background: #2F5496;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}

td.personHeaderRight {
  border: solid windowtext 1px;
  border-left: solid white 1px;
  background: #2F5496;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}


p.personHeader {
  margin: 0;
	margin-bottom: .0001pt;
	font-size: 11.0pt;
  text-align: center;
}

span.personHeader {
  font-size: 10.0pt;
  color: white;
}
span.personHeader.bold {
  font-weight: bold;
}

/* Personal Detail Header end */

/* eCPD CSS start */
p.eCpd {
  text-align: justify;
}

span.signature, span.eCpd {
  font-size: 8.0pt;
  line-height: normal;
}

span.eCpd.Bold {
  font-weight: bold;
}

span.eCpd.Bold.Underline {
  text-decoration: underline;
}

ul {
  margin-top: 2.0pt;
  margin-bottom: 2.0pt;
  font-size: 8.0pt;
  font-weight: normal;
  padding-left: 15px;
}

ol {
  font-size: 8.0pt;
  font-weight: normal;
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 5px;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 10px;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

ol > li > ol > li  {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
/* eCPD CSS end */

/* Signature CSS start */
div.signatureCell {
  height: 85px;
  display: table;
  width:100%;
  border-bottom: solid 1px;
}

div.signatureCell > div{
    display: table-cell;
    vertical-align: bottom;
}

span.signature {
  font-size: 8.0pt;
  line-height: normal;
}

p.signatureCell {
  margin: 0;
  text-align: justify;
  text-justify: inter-ideograph;
}


span.signatureCell {
  font-size: 9.0pt;
  color: white;
}

td.signatureCell {
  border: none;
  border-bottom: solid windowtext 1px;
  padding: 0;
}
/* Signature CSS end */



/* Answer Table Template CSS start */
td.tdAns {
  vertical-align: text-top;
  border: solid windowtext 1px;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
}

td.tdAns.noBorderBottom {
  border-bottom: 0;
}

td.tdAns.noBorderTop {
  border-top: 0;
}

p.thAnsCenter, p.declarationCenter, p.signature  {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  line-height: normal
}

p.thAnsLeft {
  margin-right: 0;
  margin-left: 0;
  text-align: left;
}

p.thAnsRight {
  margin-right: 0;
  margin-left: 0;
  text-align: right;
}

p.tdAns {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  color: #333333;
}

p.tdAnsLeft {
  margin-right: 0;
  margin-left: 0;
  text-align: left;
  color: #333333;
}

span.th {
  font-size: 7.0pt;
  font-weight: normal;
}

span.person {
	font-size: 7.0pt;
  font-weight: bold;
	color: white;
}

span.tdAns {
  font-size: 8.0pt;
  font-weight: bold;
  word-wrap:break-word;
}

/* Answer Table Template CSS end */

/* Question Template CSS start */
td.tdFirst {
  border: none;
  border-left: solid windowtext 1px;
}
td.tdFirst.section {
  border-bottom: solid windowtext 1px;
  background: #BDD6EE;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}
td.tdFirst.padding {
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
}
td.tdFirst.noPadding {
  padding: 0;
}
td.tdFirst.noBorder {
  border: none;
  vertical-align: top;
}

td.tdMid {
  border: none;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
}
td.tdMid.section {
  border-bottom: solid windowtext 1px;
  background: #BDD6EE;
}
td.tdLast {
  border: none;
  border-right: solid windowtext 1px;
}
td.tdLast.section {
  border-bottom: solid windowtext 1px;
  background: #BDD6EE;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}
td.tdLast.padding {
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
}
td.tdLast.noPadding {
  padding: 0;
}
td.tdLast.noBorder {
  border: none;
}
td.tdQuestionOnly {
  border: none;
  border-left: solid windowtext 1px;
  border-right: solid windowtext 1px;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}
td.tdOneCol {
  border: none;
  border-left: solid windowtext 1px;
  border-right: solid windowtext 1px;
  padding: 0 5.4pt 0 5.4pt
}
td.tdOneColNoPadding {
  border: none;
  border-left: solid windowtext 1px;
  border-right: solid windowtext 1px;
  padding: 0
}
td.tdOneColBottom {
  border: solid windowtext 1px;
  border-top: none;
  padding: 0 5.4pt 0 5.4pt
}
td.tdResid {
  border: solid windowtext 1px;
  border-bottom: none;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}
td.tdFirstEnd {
  border: none;
  border-left: solid windowtext 1px;
  border-bottom: solid windowtext 1px;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
}

span.question, span.statement, span.eCpdNote {
  font-size: 7.0pt;
  font-weight: normal
}
span.questionBold {
  font-size: 7.0pt;
  font-weight: bold
}
span.question.bold {
  font-weight: bold
}
span.question.red {
  color: red
}

span.questionItalic {
  font-size: 7.0pt;
  font-style: italic;
}

span.questionItalicBold {
  font-size: 7.0pt;
  font-style: italic;
  font-weight: bold;
}

span.residQuestionBold {
  font-size: 7.0pt;
  font-weight: bold;
}

span.statementBold {
  font-size: 9.0pt;
  font-weight: bold;
}
span.residStatementBold {
  font-size: 9.0pt;
  font-weight: bold;
}
span.answer {
  font-size: 9.0pt;
  font-weight: bold;
  word-wrap:break-word;
}
span.answer.small {
  font-size: 7.0pt;
  font-weight: normal;
  word-wrap:break-word;
}

p.header {
  margin-left: 0;
  margin-right: 0;
}

p.title {
  margin-right: 20.7pt;
  margin-left: 0;
}

p.title.noPadding {
  margin: 0;
}

p.title.subHeader {
  text-decoration: underline;
}

p.title.subHeader.bold {
  text-decoration: underline;
  font-weight: bold
}

p.statement {
  margin-right: 20.7pt;
  margin-left: 0;
  text-align: justify;
  text-justify: inter-ideograph;
}

p.statement.padding {
  padding-left: 8.1pt;
}

p.question {
  margin-right: 20.7pt;
  margin-left: 8.1pt;
  text-align: justify;
  text-justify: inter-ideograph;
  text-indent: -8.1pt;
}

p.question.indent {
  text-indent: 0pt;
}

p.answer {
  margin-right: 0;
  margin-left: 0;
  color: #333333;
}
p.answer.center {
  text-align: center;
}

ul.statement > li {
  font-size: 7.0pt;
}
ul.statement > li.red {
  color: red
}

/* Question Template CSS end */

/* Warning CSS start */

span.warningLarge {
  font-size: 10.0pt;
  color: red
}

span.warningHealth {
  font-size: 8.0pt;
  color: red
}

span.warningPoliciesBold {
  font-size: 7.0pt;
  color: red;
  font-weight: bold;
}

span.warningPolicies, span.warningDeclaration {
  font-size: 7.0pt;
  color: red;
  font-weight: normal;
}

/* Warning CSS end */


/* Office Use start */
table.office {
  width: 178px;
  border: solid windowtext 1px;
  border-collapse: collapse;
  margin-left: 6.75pt;
  margin-right: 6.75pt;
  float: right;
}

table.office td {
  vertical-align: text-top;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}

table.eCpd {
  border: none;
  margin-left: 6.75pt;
  margin-right: 6.75pt;
  float: right;
}


td.officeHeading {
  border-bottom: none;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}

td.officeContentFirstRow {
  border: solid windowtext 1px;
  border-top: none;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}

td.officeContent {
  border: solid windowtext 1px;
  padding: 1.4pt 5.4pt 1.4pt 5.4pt
}

td.ecpdContent {
  padding: 1.4pt 5.4pt 1.4pt 5.4pt;
  border: none;
  word-wrap:break-word;
}

span.officeTitle, span.eCpdTableTitle {
  font-size: 7.0pt;
}


span.officeHeading {
  font-size: 9.0pt;
}

span.officeContent, span.eCpdTableContent {
  font-size: 9.0pt;
  font-weight: bold;
}

span.officeContent.nowrap {
  white-space: nowrap;
  display: inline-block;
}
/* Office Use end */
