.landAXALogo {
	padding-top: 68px;
	margin-left: 234px;
	width: 104px;
	height: 104px;
}

.profileHeader {
	font-weight: bold;
	/* NOTE: lucia color from 103184 to 00008f */
	color: #00008f;
}

.profileListStyle {
	margin: 5px 0;
}

.profileSubHeader {
	font-weight: bold;
	margin-right: 3px;
}

.profileSection {
  margin-bottom: 32px;
  padding-left: 0;
}
